/* MDU109 Week 8 - Part 1 - Positioning
 * Task
 */ 

 
/* Layout */

html,
body {font-family: sans-serif; margin: 0;}

.container {
    margin: auto;
    width: 960px;
}


.nav {
    height: 30px;
    width: 100%;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    float: left;
}


.sidebar {
    border: 1px solid #000000;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 218px;
}
.body {
    float: left;
    width: 700px;
}

.footer {
    border: 1px solid #000000;
    padding: 10px;
    width: 940px;
}

.clearer {
    clear: both;
    display: block;
    float: none;
}



/* Styling */

.nav {
    background-color: #222; 
    color: #ffffff;
    font-weight: bold;
    list-style: none;
    margin: 0;
}
.nav a {
    border-right: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    line-height: 20px;
    padding: 5px 20px;
    height: 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.sidebar {
    background-color: #aff5b5;
}
.sidebar a {
    color: #000000;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}

.body {
    font-size: 14px;
}

.footer {
    margin: 10px 0;
}
.footer p {
    margin: 0;
}
.footer p a {
    color: #000000;
}


/* Week 8 additions */

/* absolute position example */
.has-icon {
    position: relative;
}
.pug-icon {
    background-color: #ddd; /* Set background colour for the icon, using 3 values instead of 6 to show shorthand. #ddd is the same as #dddddd. */
    border-radius: 50% 50%; /* This is to make the icon border a circle. 'border-radius' creates a rounded corner of a px size to the top left & right, and bottom left and right corners. Using % values here is relative to the width of the element. i.e. If the width is 30px, 50% would equate to 15px. Therefore setting the 'border-radius' property to be 15px (producing a rounded corner with a size of 15px) */
    padding: 10px; /* adds the space around the image and its border. 10px all around. */
    position: absolute; /* positions the element at an exact coordinate in the HTML document. Since the parent uses position: relative; this icon will be positioned based on it's parent's position */
    left: -60px; /* 'left' property means move this many pixels from the left side of the element based on where X;0,y:0 (in this case, the top left corner of the parent. Usually it would be the <body>). Since it's negative, it means take away this many pixels from the left, therefore making it move left. */
    top: -15px; /* similar to 'left' property above, using negative for 'top' property means move up 10px from the 0,0 point (parent's position) */
}

/* z-index example styles */
.sidebar, .body {position: relative;}
.nav {
    position: fixed; /* stick to the same position on the window, even when scrolled */
    left: 0; /* position to the top left of the window */
    top: 0; 
    width: 100%;
    z-index: 10; /* always appear on top, unless there is another element with a z-index > 10 */
}
.nav ul {
    margin: 0 auto;
    width: 960px;
}
.container {
    padding-top: 30px;
}

/* sub nav/ drop down exercise */
