/*
    Positioning:
    240px   -Space Header takes up by default

    Colors:
    

*/

body {
    background-image: url('../images/concrete_seamless/concrete_seamless.jpg');
    background-repeat: repeat;
}

.container {
    background-color: aliceblue;
    margin: auto;
    padding-top: 240px; 
    width: 800px;
}

/*   Header and Navigation bar   */

#header {
    background-color: aliceblue;
    height: 240px;
    position: fixed;
    top: 0;
    transition: line-height 0.2s linear, box-shadow 0.2s linear;
    width: 800px;
    z-index: 100;
}

#header #banner {
    height: 75%;
}

#header #banner #contact {
    float:right;
    height: 80px;
    margin-top: 40px;
    text-align: center;
}

#header #banner #contact h2 {
    float: left;
    padding: 0 20px;
}

#header #banner #contact p {
    float: right;
    padding: 0 20px;
}

#header #banner #logo {
    
    float: left;
    height: 80px;
    margin-left: 10px;
    margin-top: 40px
}


#header .small {
    height: 50px;
}

#navbar {
    border-style: solid none;
    height:22%;
    width: 100%;
}

#navbar ul {
    margin-top: 0px;
    list-style: none;
}

#navbar li {
    float: left;
    margin-right: 0px;
    width: 25%;
}


#navbar li a {
    background-color: #f9f9f9;
    display: block;
    border: 1px solid;
}

#navbar li a:hover{
    background-color: #333;
    color: : #fff;
    text-decoration: none;
}

/*        Content         */

.content{
    
}

.row {
    border-style: groove;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}